.app,
.left-side {
	height: 100%;
}

.app {
	padding: 20px;
	display: flex;
}

.hide {
	display: none;
}

.left-side {
	display: flex;
	width: 350px;
	margin-right: 20px;
}

.left-side-sm {
	display: none;
	width: 100%;
}

.left-side,
.left-side-sm {
	flex-direction: column;
}

.right-side {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: black;
	border-radius: 15px;
	box-shadow: 0 0 10px 1px black;
}

.outlet {
	min-height: 200px;
	height: 100%;
	width: 100%;
	background-color: rgba(240, 248, 255, 0.748);
	border-radius: 0 0 15px 15px;
}

.user-status {
	width: 12px;
	height: 12px;
	border: 1px solid rgb(197, 197, 197);
}

.absolute {
	position: absolute;
	bottom: 0;
	right: 0;
}

.link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
}

@media only screen and (max-width: 1023px) {
	.app {
		padding: 0;
	}

	.left-side {
		display: none;
	}

	.left-side-sm {
		display: flex;
	}

	.left-side-sm,
	.right-side {
		margin-left: 0;
		box-shadow: none;
	}

	.sidebar,
	.navbar,
	.status-box,
	.right-side,
	.nav-hide-outlet,
	.outlet {
		border-radius: 0;
	}

	.call-navbar-participants:has(video) {
		flex-direction: column;
	}
}

@media only screen and (max-width: 490px) {
	.call-navbar-actions>div {
		padding: 1px 10px;
	}
}