.footer {
  padding: 10px;
}

.footer input {
  background: rgba(134, 91, 209, 0.2);
}

.footer .preview {
  display: flex;
  justify-content: center;
  align-items: center;

  & .audio-player button {
    padding: 0;
    background: none;
    border-radius: 9999px;
    border: none;
  }
}

.footer .circleBtn {
  border: none;
  margin-right: 10px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background-color: rgba(230, 204, 246, 0);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  column-gap: 10px;

  & button {
    display: flex;
    padding: 10px;
    border-radius: 9999px;
    border: none;
    background: rgb(153, 111, 217);
    box-shadow: 0 0 5px black;
    color: rgba(255, 255, 255, 0.843)
  }
}

.circleBtn,
.recordIcon {
  position: relative;

  & svg {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
  }
}

.buttons .delete,
.buttons .send {
  & svg {
    height: 100%;
  }
}

.footer .recordIcon svg .recording {
  animation: fadeIn 0.8s ease-in alternate infinite;
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}