:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(90deg,
      rgba(66, 0, 104, 1) 0%,
      rgb(0, 92, 158) 100%);
  --light-theme: #fff;
  --dark-theme: #121212;
  --links: rgba(95, 85, 184, 0.502);
  --links-active: rgba(83, 31, 181, 0.793);
}

*,
:after,
:before {
  box-sizing: border-box;
  outline: none;
}

html,
body,
p,
#root {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

img {
  pointer-events: none;
  border-radius: 9999px;
}

button {
  padding: 10px 5px;
}

button,
a {
  cursor: pointer;
}

svg {
  width: 1.3em;
  height: 2em;
}

video {
  height: 140px;
  width: 250px;
  object-fit: fill;
  border-radius: 5px;
}

.v-divider {
  border: 1px solid rgba(0, 0, 0, 0.35);
  margin: 0 10px;
  height: 100%;
}

.h_divider {
  border: 1px solid rgba(0, 0, 0, 0.35);
  margin: 10px 0;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.h-center {
  display: flex;
  justify-content: center;
}

.circle {
  border-radius: 9999px;
}