.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.input-wrapper input {
  padding: 10px 24px 10px 10px;
  outline: none;
  border-radius: 5px;
  width: 250px;

  &::placeholder {
    text-transform: capitalize;
  }
}

.input-wrapper.password button {
  display: block;
  position: absolute;
  right: 0;
  border: none;
  background: none;
  outline: none;
}

.input-wrapper.password:not(:focus-within)>button {
  display: none;
}