.navbar {
  max-height: 100%;
  display: flex;
  border-bottom: 1px solid black;
  background-color: rgba(240, 248, 255, 0.748);
  border-radius: 15px 15px 0 0;
}

.navbar-user,
.navbar-friends,
.navbar-user-info,
.navbar-actions {
  display: flex;
}


.navbar-user {
  width: 100%;
  justify-content: space-between;
}

.navbar-friends,
.navbar-user-info,
.navbar-actions {
  padding: 20px;
  column-gap: 10px;
}

.call-button,
.video-call-button {
  width: 40px;
  height: 40px;
  box-shadow: 0 0 5px 1px;
}

.navbar-friends,
.navbar-user-info,
.navbar-actions,
.call-btn,
.video-call-btn {
  align-items: center;
}

.navbar-categories {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.navbar-category {
  display: none;
}

.navbar-category-label {
  display: flex;
  justify-content: center;
  width: 80px;
  padding: 5px 0;
  border-radius: 5px;

  &:hover {
    background-color: rgba(100, 59, 157, 0.2);
  }
}

.navbar-category-label:hover {
  transform: scale(1.01);
}

.navbar-category-label:active {
  transform: scale(0.99);
}

.navbar-category:checked+.navbar-category-label {
  background: rgba(58, 5, 203, 0.784);
  color: wheat;
  box-shadow:
    0 8px 8px -6px black;
}

.add-friend-button {
  background-color: rgb(84, 190, 118);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px -4px, 0 6px 12px -6px;

  &:hover {
    transform: scale(1.01)
  }

  &:active {
    transform: scale(0.99);
  }
}