.chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
}

.messages-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.messages-container:has(+ .footer .preview) {
  height: 100%
}

* {
  &::-webkit-scrollbar {
    width: 0.5em;
  }
}

* {
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 9999px;
  }
}

* {
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.message {
  font-size: 16px;
  position: relative;

  &:hover {
    background-color: rgba(130, 96, 159, 0.122);
  }

  &:hover>.options>.options-button {
    display: block;
  }

  & img {
    margin: 5px;
    align-self: start;
  }

  & input {
    margin: 5px 0;
  }

  & .options {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;

    & .dropdown {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 2;
      border-radius: 5px;
      box-shadow: 0 0 3px black;
    }

    & .options-button {
      z-index: 1;
      font-size: 1.3em;
      height: 1.2em;
      display: none;
    }

    & .option {
      display: flex;
      align-items: center;
      background-color: rgb(108 30 215 / 30%);
      padding: 1px 4px;
      font-size: 14px;
      border-radius: 5px 5px 0px 0px;
      border: 0;
      width: 100%;

      &:hover {
        background-color: rgb(108 30 215 / 50%);
      }

      &.delete {
        background-color: rgb(223, 67, 67);
        border-radius: 0px 0px 5px 5px;

        &:hover {
          background-color: rgb(182, 58, 58);
        }

        &:first-child {
          border-radius: 5px;
        }
      }

      & svg {
        font-size: 14px;
      }
    }
  }
}

.message-sender {
  font-weight: 600;
  margin-right: 12px;
}

.message-time,
.message-date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.message-time {
  margin: 0 5px;
  width: 34px;
  visibility: hidden;
  align-self: baseline;
}

.message:hover>.message-time {
  visibility: visible;
}

.message-content {
  white-space: pre-line;
  padding: 0.2em 0;
}

.edited {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.666);
}