.status-box,
.status-box-info,
.sb-user,
.sb-user-info,
.sb-user-actions,
.sb-user-action,
.sb-call :last-child {
	display: flex;
}

.status-box {
	padding: 10px 15px;
	flex-direction: column;
	justify-content: space-between;
}

.status-box-info {
	align-items: center;
}

.sb-user,
.status-box-info {
	justify-content: space-between;
}

.sb-user-info,
.sb-user-actions {
	column-gap: 6px;
}

.sb-user-action {
	padding: 0.1em 0.3em;
	border-radius: 5px;

	&:hover {
		background-color: rgba(158, 138, 177, 0.514);
	}
}

.sb-call {
	font-size: 15px;
	font-weight: 700;

	&>div>span {
		font-weight: 500;
		max-width: 217px;

		&>div {
			display: inline-block !important;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-left: 5px;
		}
	}
}