/*sb stands for status-box */
.status-box,
.sb-wrapper,
.sb-user,
.sb-user-actions,
.sb-user-action,
.sb-call {
	display: flex;
}

.status-box {
	flex-direction: column;
	justify-content: space-between;
	max-height: 150px;
	margin-top: 20px;
	padding: 10px 15px;
	background-color: rgba(240, 248, 255, 0.748);
	color: black;
	border-radius: 15px;
	box-shadow: 0 0 10px 1px black;
}

.sb-wrapper {
	justify-content: space-between;
}

.sb-user {
	align-items: center;

	& div:first-child {
		position: relative;
		display: flex;
	}

	& div:last-child {
		margin-left: 5px;
	}
}

.sb-user-actions {
	column-gap: 6px;
}

.sb-user-action {
	padding: 0.1em 0.3em;
	border-radius: 5px;

	&:hover {
		background-color: rgba(158, 138, 177, 0.514);
	}
}

.sb-call {
	font-size: 15px;
	font-weight: 700;

	&>div>span {
		display: flex;
		font-weight: 500;
		max-width: 210px;

		&>div {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-left: 5px;
		}
	}
}